#cat {
  padding: 0 !important;
  margin: auto;
  background: #000;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cat div {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#cat #haven {
  color: white;
}

#cat .world {
  -webkit-perspective: 600px;
          perspective: 600px;
}

#cat .sun {
  position: absolute;
  top: calc(50% + 40px);
  left: calc(50% - 50px);
  width: 100px;
  height: 55px;
  border-radius: 100px 100px 0 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(white));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, white 100%);
  z-index: 999;
  -webkit-filter: blur(4px) contrast(2);
          filter: blur(4px) contrast(2);
}

#cat .bg {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 400px);
  width: 800px;
  height: 300px;
  background: black;
  -webkit-filter: blur(5px) contrast(100);
          filter: blur(5px) contrast(100);
}

#cat .wave {
  position: absolute;
  top: calc(50% + 87px);
  left: calc(50% - 60px);
  width: 120px;
  height: 12px;
  background: #fff;
  border-radius: 100%;
}

#cat .wave:not(:first-child) {
  -webkit-animation: wave 2000ms infinite linear;
          animation: wave 2000ms infinite linear;
}

#cat .wave:nth-child(2) {
  -webkit-animation-delay: -500ms;
          animation-delay: -500ms;
}

#cat .wave:nth-child(3) {
  -webkit-animation-delay: -1000ms;
          animation-delay: -1000ms;
}

#cat .wave:nth-child(4) {
  -webkit-animation-delay: -1500ms;
          animation-delay: -1500ms;
}

#cat .wave:nth-child(5) {
  -webkit-animation-delay: -1500ms;
          animation-delay: -1500ms;
}

#cat .wave:nth-child(6) {
  -webkit-animation-delay: -2000ms;
          animation-delay: -2000ms;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translateY(0) sclae(1) rotateZ(0);
            transform: translateY(0) sclae(1) rotateZ(0);
  }
  50% {
    -webkit-transform: translateY(40px) scale(0.5) rotateZ(5deg);
            transform: translateY(40px) scale(0.5) rotateZ(5deg);
  }
  100% {
    -webkit-transform: translateY(30px) scale(0) rotateZ(-40deg);
            transform: translateY(30px) scale(0) rotateZ(-40deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translateY(0) sclae(1) rotateZ(0);
            transform: translateY(0) sclae(1) rotateZ(0);
  }
  50% {
    -webkit-transform: translateY(40px) scale(0.5) rotateZ(5deg);
            transform: translateY(40px) scale(0.5) rotateZ(5deg);
  }
  100% {
    -webkit-transform: translateY(30px) scale(0) rotateZ(-40deg);
            transform: translateY(30px) scale(0) rotateZ(-40deg);
  }
}

#cat .sea {
  position: absolute;
  top: calc(50% + 80px);
  left: calc(50% - 400px);
  width: 800px;
  height: 100px;
  background: radial-gradient(ellipse at bottom, white 0%, rgba(0, 0, 255, 0.5) 10%, black 100%);
}

#cat .sky {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 400px);
  width: 800px;
  height: 240px;
  background: rgba(0, 0, 255, 0.5);
  background: radial-gradient(ellipse at bottom, yellow 0%, purple 15%, black 100%);
}

#cat .horizon {
  position: absolute;
  top: 50%;
  width: 800px;
  height: 200px;
  border-radius: 100%;
  background: radial-gradient(ellipse at center, rgba(220, 20, 60, 0.4) 0%, rgba(255, 255, 255, 0) 70%);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

#cat .sunset {
  position: relative;
  width: 800px;
  height: 300px;
  overflow: hidden;
}

#cat .line {
  position: absolute;
  top: calc(50%);
  left: calc(50% - 7px);
  width: 14px;
  height: calc(300px * 0.5);
  background: #000;
}

#cat .line.-left {
  -webkit-transform: translateZ(300px) translateX(-70px) translateY(-50%);
          transform: translateZ(300px) translateX(-70px) translateY(-50%);
}

#cat .line.-right {
  -webkit-transform: translateZ(300px) translateX(70px) translateY(-50%);
          transform: translateZ(300px) translateX(70px) translateY(-50%);
}

#cat .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translateZ(360px) translate(-50%, -50%);
          transform: translateZ(360px) translate(-50%, -50%);
  font-size: 1 rem;
  text-align: center;
  font-family: 'Wendy One', sans-serif;
}

#cat .birdposition {
  position: absolute;
  top: calc(50% + 60px);
  left: calc(50% - 40px);
}

#cat .birdposition:nth-of-type(0) {
  -webkit-transform: translate(-88px, -14px) rotateZ(2deg);
          transform: translate(-88px, -14px) rotateZ(2deg);
}

#cat .birdposition:nth-of-type(0) .bird {
  -webkit-animation-duration: 7007ms;
          animation-duration: 7007ms;
  -webkit-animation-delay: -1944ms;
          animation-delay: -1944ms;
}

#cat .birdposition:nth-of-type(0) .bird .wing {
  -webkit-animation-delay: -16842ms;
          animation-delay: -16842ms;
}

#cat .birdposition:nth-of-type(1) {
  -webkit-transform: translate(-31px, -128px) rotateZ(13deg);
          transform: translate(-31px, -128px) rotateZ(13deg);
}

#cat .birdposition:nth-of-type(1) .bird {
  -webkit-animation-duration: 7315ms;
          animation-duration: 7315ms;
  -webkit-animation-delay: -4965ms;
          animation-delay: -4965ms;
}

#cat .birdposition:nth-of-type(1) .bird .wing {
  -webkit-animation-delay: -13236ms;
          animation-delay: -13236ms;
}

#cat .birdposition:nth-of-type(2) {
  -webkit-transform: translate(-111px, -39px) rotateZ(14deg);
          transform: translate(-111px, -39px) rotateZ(14deg);
}

#cat .birdposition:nth-of-type(2) .bird {
  -webkit-animation-duration: 6704ms;
          animation-duration: 6704ms;
  -webkit-animation-delay: -12987ms;
          animation-delay: -12987ms;
}

#cat .birdposition:nth-of-type(2) .bird .wing {
  -webkit-animation-delay: -9071ms;
          animation-delay: -9071ms;
}

#cat .birdposition:nth-of-type(3) {
  -webkit-transform: translate(48px, 33px) rotateZ(15deg);
          transform: translate(48px, 33px) rotateZ(15deg);
}

#cat .birdposition:nth-of-type(3) .bird {
  -webkit-animation-duration: 4433ms;
          animation-duration: 4433ms;
  -webkit-animation-delay: -10021ms;
          animation-delay: -10021ms;
}

#cat .birdposition:nth-of-type(3) .bird .wing {
  -webkit-animation-delay: -12028ms;
          animation-delay: -12028ms;
}

#cat .birdposition:nth-of-type(4) {
  -webkit-transform: translate(14px, 38px) rotateZ(2deg);
          transform: translate(14px, 38px) rotateZ(2deg);
}

#cat .birdposition:nth-of-type(4) .bird {
  -webkit-animation-duration: 3447ms;
          animation-duration: 3447ms;
  -webkit-animation-delay: -311ms;
          animation-delay: -311ms;
}

#cat .birdposition:nth-of-type(4) .bird .wing {
  -webkit-animation-delay: -2597ms;
          animation-delay: -2597ms;
}

#cat .birdposition:nth-of-type(5) {
  -webkit-transform: translate(6px, -63px) rotateZ(-2deg);
          transform: translate(6px, -63px) rotateZ(-2deg);
}

#cat .birdposition:nth-of-type(5) .bird {
  -webkit-animation-duration: 3989ms;
          animation-duration: 3989ms;
  -webkit-animation-delay: -3019ms;
          animation-delay: -3019ms;
}

#cat .birdposition:nth-of-type(5) .bird .wing {
  -webkit-animation-delay: -4153ms;
          animation-delay: -4153ms;
}

#cat .birdposition:nth-of-type(6) {
  -webkit-transform: translate(69px, -127px) rotateZ(-7deg);
          transform: translate(69px, -127px) rotateZ(-7deg);
}

#cat .birdposition:nth-of-type(6) .bird {
  -webkit-animation-duration: 6355ms;
          animation-duration: 6355ms;
  -webkit-animation-delay: -14855ms;
          animation-delay: -14855ms;
}

#cat .birdposition:nth-of-type(6) .bird .wing {
  -webkit-animation-delay: -2653ms;
          animation-delay: -2653ms;
}

#cat .birdposition:nth-of-type(7) {
  -webkit-transform: translate(-170px, -26px) rotateZ(-5deg);
          transform: translate(-170px, -26px) rotateZ(-5deg);
}

#cat .birdposition:nth-of-type(7) .bird {
  -webkit-animation-duration: 3885ms;
          animation-duration: 3885ms;
  -webkit-animation-delay: -10935ms;
          animation-delay: -10935ms;
}

#cat .birdposition:nth-of-type(7) .bird .wing {
  -webkit-animation-delay: -551ms;
          animation-delay: -551ms;
}

#cat .birdposition:nth-of-type(8) {
  -webkit-transform: translate(67px, -8px) rotateZ(13deg);
          transform: translate(67px, -8px) rotateZ(13deg);
}

#cat .birdposition:nth-of-type(8) .bird {
  -webkit-animation-duration: 4702ms;
          animation-duration: 4702ms;
  -webkit-animation-delay: -6502ms;
          animation-delay: -6502ms;
}

#cat .birdposition:nth-of-type(8) .bird .wing {
  -webkit-animation-delay: -10219ms;
          animation-delay: -10219ms;
}

#cat .birdposition:nth-of-type(9) {
  -webkit-transform: translate(141px, 50px) rotateZ(12deg);
          transform: translate(141px, 50px) rotateZ(12deg);
}

#cat .birdposition:nth-of-type(9) .bird {
  -webkit-animation-duration: 4582ms;
          animation-duration: 4582ms;
  -webkit-animation-delay: -4128ms;
          animation-delay: -4128ms;
}

#cat .birdposition:nth-of-type(9) .bird .wing {
  -webkit-animation-delay: -7089ms;
          animation-delay: -7089ms;
}

#cat .birdposition:nth-of-type(10) {
  -webkit-transform: translate(-128px, -21px) rotateZ(1deg);
          transform: translate(-128px, -21px) rotateZ(1deg);
}

#cat .birdposition:nth-of-type(10) .bird {
  -webkit-animation-duration: 4466ms;
          animation-duration: 4466ms;
  -webkit-animation-delay: -7259ms;
          animation-delay: -7259ms;
}

#cat .birdposition:nth-of-type(10) .bird .wing {
  -webkit-animation-delay: -6570ms;
          animation-delay: -6570ms;
}

#cat .birdposition:nth-of-type(11) {
  -webkit-transform: translate(129px, -94px) rotateZ(7deg);
          transform: translate(129px, -94px) rotateZ(7deg);
}

#cat .birdposition:nth-of-type(11) .bird {
  -webkit-animation-duration: 4095ms;
          animation-duration: 4095ms;
  -webkit-animation-delay: -12772ms;
          animation-delay: -12772ms;
}

#cat .birdposition:nth-of-type(11) .bird .wing {
  -webkit-animation-delay: -19378ms;
          animation-delay: -19378ms;
}

#cat .birdposition:nth-of-type(12) {
  -webkit-transform: translate(-86px, -22px) rotateZ(-2deg);
          transform: translate(-86px, -22px) rotateZ(-2deg);
}

#cat .birdposition:nth-of-type(12) .bird {
  -webkit-animation-duration: 7013ms;
          animation-duration: 7013ms;
  -webkit-animation-delay: -17930ms;
          animation-delay: -17930ms;
}

#cat .birdposition:nth-of-type(12) .bird .wing {
  -webkit-animation-delay: -15116ms;
          animation-delay: -15116ms;
}

#cat .birdposition:nth-of-type(13) {
  -webkit-transform: translate(248px, 5px) rotateZ(-19deg);
          transform: translate(248px, 5px) rotateZ(-19deg);
}

#cat .birdposition:nth-of-type(13) .bird {
  -webkit-animation-duration: 3332ms;
          animation-duration: 3332ms;
  -webkit-animation-delay: -7734ms;
          animation-delay: -7734ms;
}

#cat .birdposition:nth-of-type(13) .bird .wing {
  -webkit-animation-delay: -1864ms;
          animation-delay: -1864ms;
}

#cat .birdposition:nth-of-type(14) {
  -webkit-transform: translate(256px, -83px) rotateZ(-5deg);
          transform: translate(256px, -83px) rotateZ(-5deg);
}

#cat .birdposition:nth-of-type(14) .bird {
  -webkit-animation-duration: 5630ms;
          animation-duration: 5630ms;
  -webkit-animation-delay: -3096ms;
          animation-delay: -3096ms;
}

#cat .birdposition:nth-of-type(14) .bird .wing {
  -webkit-animation-delay: -19701ms;
          animation-delay: -19701ms;
}

#cat .birdposition:nth-of-type(15) {
  -webkit-transform: translate(249px, -95px) rotateZ(-12deg);
          transform: translate(249px, -95px) rotateZ(-12deg);
}

#cat .birdposition:nth-of-type(15) .bird {
  -webkit-animation-duration: 5943ms;
          animation-duration: 5943ms;
  -webkit-animation-delay: -14702ms;
          animation-delay: -14702ms;
}

#cat .birdposition:nth-of-type(15) .bird .wing {
  -webkit-animation-delay: -10719ms;
          animation-delay: -10719ms;
}

#cat .birdposition:nth-of-type(16) {
  -webkit-transform: translate(297px, -128px) rotateZ(5deg);
          transform: translate(297px, -128px) rotateZ(5deg);
}

#cat .birdposition:nth-of-type(16) .bird {
  -webkit-animation-duration: 4362ms;
          animation-duration: 4362ms;
  -webkit-animation-delay: -8668ms;
          animation-delay: -8668ms;
}

#cat .birdposition:nth-of-type(16) .bird .wing {
  -webkit-animation-delay: -12864ms;
          animation-delay: -12864ms;
}

#cat .birdposition:nth-of-type(17) {
  -webkit-transform: translate(203px, -110px) rotateZ(-8deg);
          transform: translate(203px, -110px) rotateZ(-8deg);
}

#cat .birdposition:nth-of-type(17) .bird {
  -webkit-animation-duration: 4007ms;
          animation-duration: 4007ms;
  -webkit-animation-delay: -10389ms;
          animation-delay: -10389ms;
}

#cat .birdposition:nth-of-type(17) .bird .wing {
  -webkit-animation-delay: -14624ms;
          animation-delay: -14624ms;
}

#cat .birdposition:nth-of-type(18) {
  -webkit-transform: translate(-143px, -139px) rotateZ(5deg);
          transform: translate(-143px, -139px) rotateZ(5deg);
}

#cat .birdposition:nth-of-type(18) .bird {
  -webkit-animation-duration: 6195ms;
          animation-duration: 6195ms;
  -webkit-animation-delay: -13306ms;
          animation-delay: -13306ms;
}

#cat .birdposition:nth-of-type(18) .bird .wing {
  -webkit-animation-delay: -19562ms;
          animation-delay: -19562ms;
}

#cat .birdposition:nth-of-type(19) {
  -webkit-transform: translate(89px, -3px) rotateZ(10deg);
          transform: translate(89px, -3px) rotateZ(10deg);
}

#cat .birdposition:nth-of-type(19) .bird {
  -webkit-animation-duration: 5522ms;
          animation-duration: 5522ms;
  -webkit-animation-delay: -4424ms;
          animation-delay: -4424ms;
}

#cat .birdposition:nth-of-type(19) .bird .wing {
  -webkit-animation-delay: -4797ms;
          animation-delay: -4797ms;
}

#cat .birdposition:nth-of-type(20) {
  -webkit-transform: translate(128px, -136px) rotateZ(-12deg);
          transform: translate(128px, -136px) rotateZ(-12deg);
}

#cat .birdposition:nth-of-type(20) .bird {
  -webkit-animation-duration: 5793ms;
          animation-duration: 5793ms;
  -webkit-animation-delay: -13515ms;
          animation-delay: -13515ms;
}

#cat .birdposition:nth-of-type(20) .bird .wing {
  -webkit-animation-delay: -14013ms;
          animation-delay: -14013ms;
}

#cat .birdposition:nth-of-type(21) {
  -webkit-transform: translate(-67px, -64px) rotateZ(5deg);
          transform: translate(-67px, -64px) rotateZ(5deg);
}

#cat .birdposition:nth-of-type(21) .bird {
  -webkit-animation-duration: 7305ms;
          animation-duration: 7305ms;
  -webkit-animation-delay: -16843ms;
          animation-delay: -16843ms;
}

#cat .birdposition:nth-of-type(21) .bird .wing {
  -webkit-animation-delay: -15361ms;
          animation-delay: -15361ms;
}

#cat .birdposition:nth-of-type(22) {
  -webkit-transform: translate(263px, -83px) rotateZ(12deg);
          transform: translate(263px, -83px) rotateZ(12deg);
}

#cat .birdposition:nth-of-type(22) .bird {
  -webkit-animation-duration: 7432ms;
          animation-duration: 7432ms;
  -webkit-animation-delay: -4880ms;
          animation-delay: -4880ms;
}

#cat .birdposition:nth-of-type(22) .bird .wing {
  -webkit-animation-delay: -18187ms;
          animation-delay: -18187ms;
}

#cat .birdposition:nth-of-type(23) {
  -webkit-transform: translate(-220px, 26px) rotateZ(-3deg);
          transform: translate(-220px, 26px) rotateZ(-3deg);
}

#cat .birdposition:nth-of-type(23) .bird {
  -webkit-animation-duration: 7580ms;
          animation-duration: 7580ms;
  -webkit-animation-delay: -5717ms;
          animation-delay: -5717ms;
}

#cat .birdposition:nth-of-type(23) .bird .wing {
  -webkit-animation-delay: -5203ms;
          animation-delay: -5203ms;
}

#cat .birdposition:nth-of-type(24) {
  -webkit-transform: translate(-130px, -111px) rotateZ(-18deg);
          transform: translate(-130px, -111px) rotateZ(-18deg);
}

#cat .birdposition:nth-of-type(24) .bird {
  -webkit-animation-duration: 3522ms;
          animation-duration: 3522ms;
  -webkit-animation-delay: -18760ms;
          animation-delay: -18760ms;
}

#cat .birdposition:nth-of-type(24) .bird .wing {
  -webkit-animation-delay: -15769ms;
          animation-delay: -15769ms;
}

#cat .birdposition:nth-of-type(25) {
  -webkit-transform: translate(78px, -26px) rotateZ(-1deg);
          transform: translate(78px, -26px) rotateZ(-1deg);
}

#cat .birdposition:nth-of-type(25) .bird {
  -webkit-animation-duration: 4669ms;
          animation-duration: 4669ms;
  -webkit-animation-delay: -132ms;
          animation-delay: -132ms;
}

#cat .birdposition:nth-of-type(25) .bird .wing {
  -webkit-animation-delay: -15610ms;
          animation-delay: -15610ms;
}

#cat .birdposition:nth-of-type(26) {
  -webkit-transform: translate(-193px, -89px) rotateZ(-3deg);
          transform: translate(-193px, -89px) rotateZ(-3deg);
}

#cat .birdposition:nth-of-type(26) .bird {
  -webkit-animation-duration: 6364ms;
          animation-duration: 6364ms;
  -webkit-animation-delay: -17429ms;
          animation-delay: -17429ms;
}

#cat .birdposition:nth-of-type(26) .bird .wing {
  -webkit-animation-delay: -5323ms;
          animation-delay: -5323ms;
}

#cat .birdposition:nth-of-type(27) {
  -webkit-transform: translate(214px, -98px) rotateZ(7deg);
          transform: translate(214px, -98px) rotateZ(7deg);
}

#cat .birdposition:nth-of-type(27) .bird {
  -webkit-animation-duration: 7166ms;
          animation-duration: 7166ms;
  -webkit-animation-delay: -11814ms;
          animation-delay: -11814ms;
}

#cat .birdposition:nth-of-type(27) .bird .wing {
  -webkit-animation-delay: -18793ms;
          animation-delay: -18793ms;
}

#cat .birdposition:nth-of-type(28) {
  -webkit-transform: translate(5px, -138px) rotateZ(-14deg);
          transform: translate(5px, -138px) rotateZ(-14deg);
}

#cat .birdposition:nth-of-type(28) .bird {
  -webkit-animation-duration: 5153ms;
          animation-duration: 5153ms;
  -webkit-animation-delay: -3832ms;
          animation-delay: -3832ms;
}

#cat .birdposition:nth-of-type(28) .bird .wing {
  -webkit-animation-delay: -13098ms;
          animation-delay: -13098ms;
}

#cat .birdposition:nth-of-type(29) {
  -webkit-transform: translate(-182px, -10px) rotateZ(17deg);
          transform: translate(-182px, -10px) rotateZ(17deg);
}

#cat .birdposition:nth-of-type(29) .bird {
  -webkit-animation-duration: 6133ms;
          animation-duration: 6133ms;
  -webkit-animation-delay: -8486ms;
          animation-delay: -8486ms;
}

#cat .birdposition:nth-of-type(29) .bird .wing {
  -webkit-animation-delay: -19629ms;
          animation-delay: -19629ms;
}

#cat .birdposition:nth-of-type(30) {
  -webkit-transform: translate(216px, -137px) rotateZ(3deg);
          transform: translate(216px, -137px) rotateZ(3deg);
}

#cat .birdposition:nth-of-type(30) .bird {
  -webkit-animation-duration: 7384ms;
          animation-duration: 7384ms;
  -webkit-animation-delay: -12240ms;
          animation-delay: -12240ms;
}

#cat .birdposition:nth-of-type(30) .bird .wing {
  -webkit-animation-delay: -11206ms;
          animation-delay: -11206ms;
}

#cat .birdposition:nth-of-type(31) {
  -webkit-transform: translate(45px, -69px) rotateZ(14deg);
          transform: translate(45px, -69px) rotateZ(14deg);
}

#cat .birdposition:nth-of-type(31) .bird {
  -webkit-animation-duration: 4112ms;
          animation-duration: 4112ms;
  -webkit-animation-delay: -10682ms;
          animation-delay: -10682ms;
}

#cat .birdposition:nth-of-type(31) .bird .wing {
  -webkit-animation-delay: -10118ms;
          animation-delay: -10118ms;
}

#cat .birdposition:nth-of-type(32) {
  -webkit-transform: translate(-70px, -132px) rotateZ(14deg);
          transform: translate(-70px, -132px) rotateZ(14deg);
}

#cat .birdposition:nth-of-type(32) .bird {
  -webkit-animation-duration: 7634ms;
          animation-duration: 7634ms;
  -webkit-animation-delay: -13239ms;
          animation-delay: -13239ms;
}

#cat .birdposition:nth-of-type(32) .bird .wing {
  -webkit-animation-delay: -16065ms;
          animation-delay: -16065ms;
}

#cat .birdposition:nth-of-type(33) {
  -webkit-transform: translate(-215px, -121px) rotateZ(-1deg);
          transform: translate(-215px, -121px) rotateZ(-1deg);
}

#cat .birdposition:nth-of-type(33) .bird {
  -webkit-animation-duration: 6842ms;
          animation-duration: 6842ms;
  -webkit-animation-delay: -18814ms;
          animation-delay: -18814ms;
}

#cat .birdposition:nth-of-type(33) .bird .wing {
  -webkit-animation-delay: -6470ms;
          animation-delay: -6470ms;
}

#cat .birdposition:nth-of-type(34) {
  -webkit-transform: translate(-146px, -32px) rotateZ(-15deg);
          transform: translate(-146px, -32px) rotateZ(-15deg);
}

#cat .birdposition:nth-of-type(34) .bird {
  -webkit-animation-duration: 7695ms;
          animation-duration: 7695ms;
  -webkit-animation-delay: -9944ms;
          animation-delay: -9944ms;
}

#cat .birdposition:nth-of-type(34) .bird .wing {
  -webkit-animation-delay: -16530ms;
          animation-delay: -16530ms;
}

#cat .birdposition:nth-of-type(35) {
  -webkit-transform: translate(214px, -115px) rotateZ(-14deg);
          transform: translate(214px, -115px) rotateZ(-14deg);
}

#cat .birdposition:nth-of-type(35) .bird {
  -webkit-animation-duration: 4308ms;
          animation-duration: 4308ms;
  -webkit-animation-delay: -6016ms;
          animation-delay: -6016ms;
}

#cat .birdposition:nth-of-type(35) .bird .wing {
  -webkit-animation-delay: -4170ms;
          animation-delay: -4170ms;
}

#cat .birdposition:nth-of-type(36) {
  -webkit-transform: translate(271px, -98px) rotateZ(-1deg);
          transform: translate(271px, -98px) rotateZ(-1deg);
}

#cat .birdposition:nth-of-type(36) .bird {
  -webkit-animation-duration: 5483ms;
          animation-duration: 5483ms;
  -webkit-animation-delay: -8214ms;
          animation-delay: -8214ms;
}

#cat .birdposition:nth-of-type(36) .bird .wing {
  -webkit-animation-delay: -2353ms;
          animation-delay: -2353ms;
}

#cat .birdposition:nth-of-type(37) {
  -webkit-transform: translate(191px, -53px) rotateZ(-15deg);
          transform: translate(191px, -53px) rotateZ(-15deg);
}

#cat .birdposition:nth-of-type(37) .bird {
  -webkit-animation-duration: 3510ms;
          animation-duration: 3510ms;
  -webkit-animation-delay: -10133ms;
          animation-delay: -10133ms;
}

#cat .birdposition:nth-of-type(37) .bird .wing {
  -webkit-animation-delay: -19190ms;
          animation-delay: -19190ms;
}

#cat .birdposition:nth-of-type(38) {
  -webkit-transform: translate(-132px, -2px) rotateZ(15deg);
          transform: translate(-132px, -2px) rotateZ(15deg);
}

#cat .birdposition:nth-of-type(38) .bird {
  -webkit-animation-duration: 6384ms;
          animation-duration: 6384ms;
  -webkit-animation-delay: -4031ms;
          animation-delay: -4031ms;
}

#cat .birdposition:nth-of-type(38) .bird .wing {
  -webkit-animation-delay: -15646ms;
          animation-delay: -15646ms;
}

#cat .birdposition:nth-of-type(39) {
  -webkit-transform: translate(151px, -41px) rotateZ(12deg);
          transform: translate(151px, -41px) rotateZ(12deg);
}

#cat .birdposition:nth-of-type(39) .bird {
  -webkit-animation-duration: 7621ms;
          animation-duration: 7621ms;
  -webkit-animation-delay: -16040ms;
          animation-delay: -16040ms;
}

#cat .birdposition:nth-of-type(39) .bird .wing {
  -webkit-animation-delay: -1841ms;
          animation-delay: -1841ms;
}

#cat .birdposition:nth-of-type(40) {
  -webkit-transform: translate(-51px, -42px) rotateZ(7deg);
          transform: translate(-51px, -42px) rotateZ(7deg);
}

#cat .birdposition:nth-of-type(40) .bird {
  -webkit-animation-duration: 5793ms;
          animation-duration: 5793ms;
  -webkit-animation-delay: -4895ms;
          animation-delay: -4895ms;
}

#cat .birdposition:nth-of-type(40) .bird .wing {
  -webkit-animation-delay: -17702ms;
          animation-delay: -17702ms;
}

#cat .birdposition:nth-of-type(41) {
  -webkit-transform: translate(-147px, -57px) rotateZ(7deg);
          transform: translate(-147px, -57px) rotateZ(7deg);
}

#cat .birdposition:nth-of-type(41) .bird {
  -webkit-animation-duration: 7572ms;
          animation-duration: 7572ms;
  -webkit-animation-delay: -1858ms;
          animation-delay: -1858ms;
}

#cat .birdposition:nth-of-type(41) .bird .wing {
  -webkit-animation-delay: -5432ms;
          animation-delay: -5432ms;
}

#cat .birdposition:nth-of-type(42) {
  -webkit-transform: translate(165px, 18px) rotateZ(-6deg);
          transform: translate(165px, 18px) rotateZ(-6deg);
}

#cat .birdposition:nth-of-type(42) .bird {
  -webkit-animation-duration: 7439ms;
          animation-duration: 7439ms;
  -webkit-animation-delay: -5243ms;
          animation-delay: -5243ms;
}

#cat .birdposition:nth-of-type(42) .bird .wing {
  -webkit-animation-delay: -5656ms;
          animation-delay: -5656ms;
}

#cat .birdposition:nth-of-type(43) {
  -webkit-transform: translate(-141px, -139px) rotateZ(-1deg);
          transform: translate(-141px, -139px) rotateZ(-1deg);
}

#cat .birdposition:nth-of-type(43) .bird {
  -webkit-animation-duration: 4315ms;
          animation-duration: 4315ms;
  -webkit-animation-delay: -8645ms;
          animation-delay: -8645ms;
}

#cat .birdposition:nth-of-type(43) .bird .wing {
  -webkit-animation-delay: -10382ms;
          animation-delay: -10382ms;
}

#cat .birdposition:nth-of-type(44) {
  -webkit-transform: translate(278px, -107px) rotateZ(4deg);
          transform: translate(278px, -107px) rotateZ(4deg);
}

#cat .birdposition:nth-of-type(44) .bird {
  -webkit-animation-duration: 7505ms;
          animation-duration: 7505ms;
  -webkit-animation-delay: -18300ms;
          animation-delay: -18300ms;
}

#cat .birdposition:nth-of-type(44) .bird .wing {
  -webkit-animation-delay: -9816ms;
          animation-delay: -9816ms;
}

#cat .birdposition:nth-of-type(45) {
  -webkit-transform: translate(54px, 36px) rotateZ(-8deg);
          transform: translate(54px, 36px) rotateZ(-8deg);
}

#cat .birdposition:nth-of-type(45) .bird {
  -webkit-animation-duration: 6954ms;
          animation-duration: 6954ms;
  -webkit-animation-delay: -5875ms;
          animation-delay: -5875ms;
}

#cat .birdposition:nth-of-type(45) .bird .wing {
  -webkit-animation-delay: -18343ms;
          animation-delay: -18343ms;
}

#cat .birdposition:nth-of-type(46) {
  -webkit-transform: translate(-290px, -140px) rotateZ(10deg);
          transform: translate(-290px, -140px) rotateZ(10deg);
}

#cat .birdposition:nth-of-type(46) .bird {
  -webkit-animation-duration: 7296ms;
          animation-duration: 7296ms;
  -webkit-animation-delay: -8833ms;
          animation-delay: -8833ms;
}

#cat .birdposition:nth-of-type(46) .bird .wing {
  -webkit-animation-delay: -10908ms;
          animation-delay: -10908ms;
}

#cat .birdposition:nth-of-type(47) {
  -webkit-transform: translate(-162px, -77px) rotateZ(16deg);
          transform: translate(-162px, -77px) rotateZ(16deg);
}

#cat .birdposition:nth-of-type(47) .bird {
  -webkit-animation-duration: 5648ms;
          animation-duration: 5648ms;
  -webkit-animation-delay: -3125ms;
          animation-delay: -3125ms;
}

#cat .birdposition:nth-of-type(47) .bird .wing {
  -webkit-animation-delay: -6636ms;
          animation-delay: -6636ms;
}

#cat .birdposition:nth-of-type(48) {
  -webkit-transform: translate(-276px, -16px) rotateZ(-7deg);
          transform: translate(-276px, -16px) rotateZ(-7deg);
}

#cat .birdposition:nth-of-type(48) .bird {
  -webkit-animation-duration: 4096ms;
          animation-duration: 4096ms;
  -webkit-animation-delay: -6123ms;
          animation-delay: -6123ms;
}

#cat .birdposition:nth-of-type(48) .bird .wing {
  -webkit-animation-delay: -16073ms;
          animation-delay: -16073ms;
}

#cat .birdposition:nth-of-type(49) {
  -webkit-transform: translate(34px, -149px) rotateZ(6deg);
          transform: translate(34px, -149px) rotateZ(6deg);
}

#cat .birdposition:nth-of-type(49) .bird {
  -webkit-animation-duration: 6655ms;
          animation-duration: 6655ms;
  -webkit-animation-delay: -9003ms;
          animation-delay: -9003ms;
}

#cat .birdposition:nth-of-type(49) .bird .wing {
  -webkit-animation-delay: -7550ms;
          animation-delay: -7550ms;
}

#cat .birdposition:nth-of-type(50) {
  -webkit-transform: translate(241px, 3px) rotateZ(-2deg);
          transform: translate(241px, 3px) rotateZ(-2deg);
}

#cat .birdposition:nth-of-type(50) .bird {
  -webkit-animation-duration: 7488ms;
          animation-duration: 7488ms;
  -webkit-animation-delay: -6376ms;
          animation-delay: -6376ms;
}

#cat .birdposition:nth-of-type(50) .bird .wing {
  -webkit-animation-delay: -3970ms;
          animation-delay: -3970ms;
}

#cat .birdposition:nth-of-type(51) {
  -webkit-transform: translate(118px, 34px) rotateZ(20deg);
          transform: translate(118px, 34px) rotateZ(20deg);
}

#cat .birdposition:nth-of-type(51) .bird {
  -webkit-animation-duration: 7442ms;
          animation-duration: 7442ms;
  -webkit-animation-delay: -5420ms;
          animation-delay: -5420ms;
}

#cat .birdposition:nth-of-type(51) .bird .wing {
  -webkit-animation-delay: -10461ms;
          animation-delay: -10461ms;
}

#cat .birdposition:nth-of-type(52) {
  -webkit-transform: translate(-126px, -24px) rotateZ(3deg);
          transform: translate(-126px, -24px) rotateZ(3deg);
}

#cat .birdposition:nth-of-type(52) .bird {
  -webkit-animation-duration: 3096ms;
          animation-duration: 3096ms;
  -webkit-animation-delay: -2684ms;
          animation-delay: -2684ms;
}

#cat .birdposition:nth-of-type(52) .bird .wing {
  -webkit-animation-delay: -18149ms;
          animation-delay: -18149ms;
}

#cat .birdposition:nth-of-type(53) {
  -webkit-transform: translate(-150px, -144px) rotateZ(8deg);
          transform: translate(-150px, -144px) rotateZ(8deg);
}

#cat .birdposition:nth-of-type(53) .bird {
  -webkit-animation-duration: 7263ms;
          animation-duration: 7263ms;
  -webkit-animation-delay: -9663ms;
          animation-delay: -9663ms;
}

#cat .birdposition:nth-of-type(53) .bird .wing {
  -webkit-animation-delay: -2165ms;
          animation-delay: -2165ms;
}

#cat .birdposition:nth-of-type(54) {
  -webkit-transform: translate(187px, -72px) rotateZ(-1deg);
          transform: translate(187px, -72px) rotateZ(-1deg);
}

#cat .birdposition:nth-of-type(54) .bird {
  -webkit-animation-duration: 4562ms;
          animation-duration: 4562ms;
  -webkit-animation-delay: -1972ms;
          animation-delay: -1972ms;
}

#cat .birdposition:nth-of-type(54) .bird .wing {
  -webkit-animation-delay: -13036ms;
          animation-delay: -13036ms;
}

#cat .birdposition:nth-of-type(55) {
  -webkit-transform: translate(-276px, -134px) rotateZ(-17deg);
          transform: translate(-276px, -134px) rotateZ(-17deg);
}

#cat .birdposition:nth-of-type(55) .bird {
  -webkit-animation-duration: 7646ms;
          animation-duration: 7646ms;
  -webkit-animation-delay: -5607ms;
          animation-delay: -5607ms;
}

#cat .birdposition:nth-of-type(55) .bird .wing {
  -webkit-animation-delay: -3515ms;
          animation-delay: -3515ms;
}

#cat .birdposition:nth-of-type(56) {
  -webkit-transform: translate(-293px, 43px) rotateZ(-1deg);
          transform: translate(-293px, 43px) rotateZ(-1deg);
}

#cat .birdposition:nth-of-type(56) .bird {
  -webkit-animation-duration: 3488ms;
          animation-duration: 3488ms;
  -webkit-animation-delay: -17289ms;
          animation-delay: -17289ms;
}

#cat .birdposition:nth-of-type(56) .bird .wing {
  -webkit-animation-delay: -13567ms;
          animation-delay: -13567ms;
}

#cat .birdposition:nth-of-type(57) {
  -webkit-transform: translate(81px, -110px) rotateZ(-10deg);
          transform: translate(81px, -110px) rotateZ(-10deg);
}

#cat .birdposition:nth-of-type(57) .bird {
  -webkit-animation-duration: 7260ms;
          animation-duration: 7260ms;
  -webkit-animation-delay: -18286ms;
          animation-delay: -18286ms;
}

#cat .birdposition:nth-of-type(57) .bird .wing {
  -webkit-animation-delay: -19687ms;
          animation-delay: -19687ms;
}

#cat .birdposition:nth-of-type(58) {
  -webkit-transform: translate(93px, -116px) rotateZ(-16deg);
          transform: translate(93px, -116px) rotateZ(-16deg);
}

#cat .birdposition:nth-of-type(58) .bird {
  -webkit-animation-duration: 6159ms;
          animation-duration: 6159ms;
  -webkit-animation-delay: -18510ms;
          animation-delay: -18510ms;
}

#cat .birdposition:nth-of-type(58) .bird .wing {
  -webkit-animation-delay: -6761ms;
          animation-delay: -6761ms;
}

#cat .birdposition:nth-of-type(59) {
  -webkit-transform: translate(-208px, -97px) rotateZ(-14deg);
          transform: translate(-208px, -97px) rotateZ(-14deg);
}

#cat .birdposition:nth-of-type(59) .bird {
  -webkit-animation-duration: 4964ms;
          animation-duration: 4964ms;
  -webkit-animation-delay: -10444ms;
          animation-delay: -10444ms;
}

#cat .birdposition:nth-of-type(59) .bird .wing {
  -webkit-animation-delay: -15987ms;
          animation-delay: -15987ms;
}

#cat .birdposition:nth-of-type(60) {
  -webkit-transform: translate(280px, -106px) rotateZ(2deg);
          transform: translate(280px, -106px) rotateZ(2deg);
}

#cat .birdposition:nth-of-type(60) .bird {
  -webkit-animation-duration: 3392ms;
          animation-duration: 3392ms;
  -webkit-animation-delay: -3253ms;
          animation-delay: -3253ms;
}

#cat .birdposition:nth-of-type(60) .bird .wing {
  -webkit-animation-delay: -15256ms;
          animation-delay: -15256ms;
}

#cat .birdposition:nth-of-type(61) {
  -webkit-transform: translate(74px, -15px) rotateZ(-12deg);
          transform: translate(74px, -15px) rotateZ(-12deg);
}

#cat .birdposition:nth-of-type(61) .bird {
  -webkit-animation-duration: 3095ms;
          animation-duration: 3095ms;
  -webkit-animation-delay: -2219ms;
          animation-delay: -2219ms;
}

#cat .birdposition:nth-of-type(61) .bird .wing {
  -webkit-animation-delay: -16391ms;
          animation-delay: -16391ms;
}

#cat .birdposition:nth-of-type(62) {
  -webkit-transform: translate(-192px, -111px) rotateZ(3deg);
          transform: translate(-192px, -111px) rotateZ(3deg);
}

#cat .birdposition:nth-of-type(62) .bird {
  -webkit-animation-duration: 5457ms;
          animation-duration: 5457ms;
  -webkit-animation-delay: -17907ms;
          animation-delay: -17907ms;
}

#cat .birdposition:nth-of-type(62) .bird .wing {
  -webkit-animation-delay: -13782ms;
          animation-delay: -13782ms;
}

#cat .birdposition:nth-of-type(63) {
  -webkit-transform: translate(49px, 16px) rotateZ(13deg);
          transform: translate(49px, 16px) rotateZ(13deg);
}

#cat .birdposition:nth-of-type(63) .bird {
  -webkit-animation-duration: 4282ms;
          animation-duration: 4282ms;
  -webkit-animation-delay: -12642ms;
          animation-delay: -12642ms;
}

#cat .birdposition:nth-of-type(63) .bird .wing {
  -webkit-animation-delay: -4953ms;
          animation-delay: -4953ms;
}

#cat .birdposition:nth-of-type(64) {
  -webkit-transform: translate(119px, -109px) rotateZ(-6deg);
          transform: translate(119px, -109px) rotateZ(-6deg);
}

#cat .birdposition:nth-of-type(64) .bird {
  -webkit-animation-duration: 5475ms;
          animation-duration: 5475ms;
  -webkit-animation-delay: -14201ms;
          animation-delay: -14201ms;
}

#cat .birdposition:nth-of-type(64) .bird .wing {
  -webkit-animation-delay: -15619ms;
          animation-delay: -15619ms;
}

#cat .birdposition:nth-of-type(65) {
  -webkit-transform: translate(-55px, -11px) rotateZ(0deg);
          transform: translate(-55px, -11px) rotateZ(0deg);
}

#cat .birdposition:nth-of-type(65) .bird {
  -webkit-animation-duration: 3465ms;
          animation-duration: 3465ms;
  -webkit-animation-delay: -8816ms;
          animation-delay: -8816ms;
}

#cat .birdposition:nth-of-type(65) .bird .wing {
  -webkit-animation-delay: -7167ms;
          animation-delay: -7167ms;
}

#cat .birdposition:nth-of-type(66) {
  -webkit-transform: translate(227px, -14px) rotateZ(3deg);
          transform: translate(227px, -14px) rotateZ(3deg);
}

#cat .birdposition:nth-of-type(66) .bird {
  -webkit-animation-duration: 6471ms;
          animation-duration: 6471ms;
  -webkit-animation-delay: -6364ms;
          animation-delay: -6364ms;
}

#cat .birdposition:nth-of-type(66) .bird .wing {
  -webkit-animation-delay: -4499ms;
          animation-delay: -4499ms;
}

#cat .birdposition:nth-of-type(67) {
  -webkit-transform: translate(60px, -71px) rotateZ(16deg);
          transform: translate(60px, -71px) rotateZ(16deg);
}

#cat .birdposition:nth-of-type(67) .bird {
  -webkit-animation-duration: 7142ms;
          animation-duration: 7142ms;
  -webkit-animation-delay: -5333ms;
          animation-delay: -5333ms;
}

#cat .birdposition:nth-of-type(67) .bird .wing {
  -webkit-animation-delay: -19940ms;
          animation-delay: -19940ms;
}

#cat .birdposition:nth-of-type(68) {
  -webkit-transform: translate(249px, 37px) rotateZ(10deg);
          transform: translate(249px, 37px) rotateZ(10deg);
}

#cat .birdposition:nth-of-type(68) .bird {
  -webkit-animation-duration: 6435ms;
          animation-duration: 6435ms;
  -webkit-animation-delay: -12333ms;
          animation-delay: -12333ms;
}

#cat .birdposition:nth-of-type(68) .bird .wing {
  -webkit-animation-delay: -7201ms;
          animation-delay: -7201ms;
}

#cat .birdposition:nth-of-type(69) {
  -webkit-transform: translate(46px, -144px) rotateZ(-12deg);
          transform: translate(46px, -144px) rotateZ(-12deg);
}

#cat .birdposition:nth-of-type(69) .bird {
  -webkit-animation-duration: 5608ms;
          animation-duration: 5608ms;
  -webkit-animation-delay: -8127ms;
          animation-delay: -8127ms;
}

#cat .birdposition:nth-of-type(69) .bird .wing {
  -webkit-animation-delay: -15101ms;
          animation-delay: -15101ms;
}

#cat .birdposition:nth-of-type(70) {
  -webkit-transform: translate(-20px, -133px) rotateZ(-15deg);
          transform: translate(-20px, -133px) rotateZ(-15deg);
}

#cat .birdposition:nth-of-type(70) .bird {
  -webkit-animation-duration: 5165ms;
          animation-duration: 5165ms;
  -webkit-animation-delay: -8963ms;
          animation-delay: -8963ms;
}

#cat .birdposition:nth-of-type(70) .bird .wing {
  -webkit-animation-delay: -6923ms;
          animation-delay: -6923ms;
}

#cat .birdposition:nth-of-type(71) {
  -webkit-transform: translate(-25px, -66px) rotateZ(0deg);
          transform: translate(-25px, -66px) rotateZ(0deg);
}

#cat .birdposition:nth-of-type(71) .bird {
  -webkit-animation-duration: 5061ms;
          animation-duration: 5061ms;
  -webkit-animation-delay: -12432ms;
          animation-delay: -12432ms;
}

#cat .birdposition:nth-of-type(71) .bird .wing {
  -webkit-animation-delay: -2063ms;
          animation-delay: -2063ms;
}

#cat .birdposition:nth-of-type(72) {
  -webkit-transform: translate(-54px, -83px) rotateZ(11deg);
          transform: translate(-54px, -83px) rotateZ(11deg);
}

#cat .birdposition:nth-of-type(72) .bird {
  -webkit-animation-duration: 7270ms;
          animation-duration: 7270ms;
  -webkit-animation-delay: -15391ms;
          animation-delay: -15391ms;
}

#cat .birdposition:nth-of-type(72) .bird .wing {
  -webkit-animation-delay: -1555ms;
          animation-delay: -1555ms;
}

#cat .birdposition:nth-of-type(73) {
  -webkit-transform: translate(-77px, -126px) rotateZ(8deg);
          transform: translate(-77px, -126px) rotateZ(8deg);
}

#cat .birdposition:nth-of-type(73) .bird {
  -webkit-animation-duration: 5241ms;
          animation-duration: 5241ms;
  -webkit-animation-delay: -11965ms;
          animation-delay: -11965ms;
}

#cat .birdposition:nth-of-type(73) .bird .wing {
  -webkit-animation-delay: -3042ms;
          animation-delay: -3042ms;
}

#cat .birdposition:nth-of-type(74) {
  -webkit-transform: translate(136px, -6px) rotateZ(-2deg);
          transform: translate(136px, -6px) rotateZ(-2deg);
}

#cat .birdposition:nth-of-type(74) .bird {
  -webkit-animation-duration: 7692ms;
          animation-duration: 7692ms;
  -webkit-animation-delay: -4438ms;
          animation-delay: -4438ms;
}

#cat .birdposition:nth-of-type(74) .bird .wing {
  -webkit-animation-delay: -18688ms;
          animation-delay: -18688ms;
}

#cat .birdposition:nth-of-type(75) {
  -webkit-transform: translate(170px, -56px) rotateZ(17deg);
          transform: translate(170px, -56px) rotateZ(17deg);
}

#cat .birdposition:nth-of-type(75) .bird {
  -webkit-animation-duration: 5635ms;
          animation-duration: 5635ms;
  -webkit-animation-delay: -13313ms;
          animation-delay: -13313ms;
}

#cat .birdposition:nth-of-type(75) .bird .wing {
  -webkit-animation-delay: -4852ms;
          animation-delay: -4852ms;
}

#cat .birdposition:nth-of-type(76) {
  -webkit-transform: translate(-179px, -90px) rotateZ(-8deg);
          transform: translate(-179px, -90px) rotateZ(-8deg);
}

#cat .birdposition:nth-of-type(76) .bird {
  -webkit-animation-duration: 6932ms;
          animation-duration: 6932ms;
  -webkit-animation-delay: -12298ms;
          animation-delay: -12298ms;
}

#cat .birdposition:nth-of-type(76) .bird .wing {
  -webkit-animation-delay: -13326ms;
          animation-delay: -13326ms;
}

#cat .birdposition:nth-of-type(77) {
  -webkit-transform: translate(273px, 42px) rotateZ(13deg);
          transform: translate(273px, 42px) rotateZ(13deg);
}

#cat .birdposition:nth-of-type(77) .bird {
  -webkit-animation-duration: 7115ms;
          animation-duration: 7115ms;
  -webkit-animation-delay: -12732ms;
          animation-delay: -12732ms;
}

#cat .birdposition:nth-of-type(77) .bird .wing {
  -webkit-animation-delay: -17013ms;
          animation-delay: -17013ms;
}

#cat .birdposition:nth-of-type(78) {
  -webkit-transform: translate(200px, 47px) rotateZ(16deg);
          transform: translate(200px, 47px) rotateZ(16deg);
}

#cat .birdposition:nth-of-type(78) .bird {
  -webkit-animation-duration: 7523ms;
          animation-duration: 7523ms;
  -webkit-animation-delay: -2056ms;
          animation-delay: -2056ms;
}

#cat .birdposition:nth-of-type(78) .bird .wing {
  -webkit-animation-delay: -14196ms;
          animation-delay: -14196ms;
}

#cat .birdposition:nth-of-type(79) {
  -webkit-transform: translate(172px, -21px) rotateZ(-14deg);
          transform: translate(172px, -21px) rotateZ(-14deg);
}

#cat .birdposition:nth-of-type(79) .bird {
  -webkit-animation-duration: 3424ms;
          animation-duration: 3424ms;
  -webkit-animation-delay: -14490ms;
          animation-delay: -14490ms;
}

#cat .birdposition:nth-of-type(79) .bird .wing {
  -webkit-animation-delay: -8779ms;
          animation-delay: -8779ms;
}

#cat .birdposition:nth-of-type(80) {
  -webkit-transform: translate(-176px, -86px) rotateZ(-10deg);
          transform: translate(-176px, -86px) rotateZ(-10deg);
}

#cat .birdposition:nth-of-type(80) .bird {
  -webkit-animation-duration: 6248ms;
          animation-duration: 6248ms;
  -webkit-animation-delay: -18218ms;
          animation-delay: -18218ms;
}

#cat .birdposition:nth-of-type(80) .bird .wing {
  -webkit-animation-delay: -10107ms;
          animation-delay: -10107ms;
}

#cat .birdposition:nth-of-type(81) {
  -webkit-transform: translate(-250px, -12px) rotateZ(-5deg);
          transform: translate(-250px, -12px) rotateZ(-5deg);
}

#cat .birdposition:nth-of-type(81) .bird {
  -webkit-animation-duration: 3774ms;
          animation-duration: 3774ms;
  -webkit-animation-delay: -1123ms;
          animation-delay: -1123ms;
}

#cat .birdposition:nth-of-type(81) .bird .wing {
  -webkit-animation-delay: -1472ms;
          animation-delay: -1472ms;
}

#cat .birdposition:nth-of-type(82) {
  -webkit-transform: translate(-74px, -86px) rotateZ(13deg);
          transform: translate(-74px, -86px) rotateZ(13deg);
}

#cat .birdposition:nth-of-type(82) .bird {
  -webkit-animation-duration: 7601ms;
          animation-duration: 7601ms;
  -webkit-animation-delay: -17520ms;
          animation-delay: -17520ms;
}

#cat .birdposition:nth-of-type(82) .bird .wing {
  -webkit-animation-delay: -8261ms;
          animation-delay: -8261ms;
}

#cat .birdposition:nth-of-type(83) {
  -webkit-transform: translate(-34px, -26px) rotateZ(-17deg);
          transform: translate(-34px, -26px) rotateZ(-17deg);
}

#cat .birdposition:nth-of-type(83) .bird {
  -webkit-animation-duration: 5262ms;
          animation-duration: 5262ms;
  -webkit-animation-delay: -8255ms;
          animation-delay: -8255ms;
}

#cat .birdposition:nth-of-type(83) .bird .wing {
  -webkit-animation-delay: -10235ms;
          animation-delay: -10235ms;
}

#cat .birdposition:nth-of-type(84) {
  -webkit-transform: translate(41px, -100px) rotateZ(-17deg);
          transform: translate(41px, -100px) rotateZ(-17deg);
}

#cat .birdposition:nth-of-type(84) .bird {
  -webkit-animation-duration: 4787ms;
          animation-duration: 4787ms;
  -webkit-animation-delay: -3801ms;
          animation-delay: -3801ms;
}

#cat .birdposition:nth-of-type(84) .bird .wing {
  -webkit-animation-delay: -5493ms;
          animation-delay: -5493ms;
}

#cat .birdposition:nth-of-type(85) {
  -webkit-transform: translate(-104px, -52px) rotateZ(-10deg);
          transform: translate(-104px, -52px) rotateZ(-10deg);
}

#cat .birdposition:nth-of-type(85) .bird {
  -webkit-animation-duration: 3335ms;
          animation-duration: 3335ms;
  -webkit-animation-delay: -13236ms;
          animation-delay: -13236ms;
}

#cat .birdposition:nth-of-type(85) .bird .wing {
  -webkit-animation-delay: -15563ms;
          animation-delay: -15563ms;
}

#cat .birdposition:nth-of-type(86) {
  -webkit-transform: translate(13px, -109px) rotateZ(-17deg);
          transform: translate(13px, -109px) rotateZ(-17deg);
}

#cat .birdposition:nth-of-type(86) .bird {
  -webkit-animation-duration: 4261ms;
          animation-duration: 4261ms;
  -webkit-animation-delay: -4756ms;
          animation-delay: -4756ms;
}

#cat .birdposition:nth-of-type(86) .bird .wing {
  -webkit-animation-delay: -19008ms;
          animation-delay: -19008ms;
}

#cat .birdposition:nth-of-type(87) {
  -webkit-transform: translate(237px, 25px) rotateZ(9deg);
          transform: translate(237px, 25px) rotateZ(9deg);
}

#cat .birdposition:nth-of-type(87) .bird {
  -webkit-animation-duration: 6225ms;
          animation-duration: 6225ms;
  -webkit-animation-delay: -11721ms;
          animation-delay: -11721ms;
}

#cat .birdposition:nth-of-type(87) .bird .wing {
  -webkit-animation-delay: -7938ms;
          animation-delay: -7938ms;
}

#cat .birdposition:nth-of-type(88) {
  -webkit-transform: translate(40px, 47px) rotateZ(-2deg);
          transform: translate(40px, 47px) rotateZ(-2deg);
}

#cat .birdposition:nth-of-type(88) .bird {
  -webkit-animation-duration: 6551ms;
          animation-duration: 6551ms;
  -webkit-animation-delay: -5393ms;
          animation-delay: -5393ms;
}

#cat .birdposition:nth-of-type(88) .bird .wing {
  -webkit-animation-delay: -209ms;
          animation-delay: -209ms;
}

#cat .birdposition:nth-of-type(89) {
  -webkit-transform: translate(171px, -86px) rotateZ(4deg);
          transform: translate(171px, -86px) rotateZ(4deg);
}

#cat .birdposition:nth-of-type(89) .bird {
  -webkit-animation-duration: 4033ms;
          animation-duration: 4033ms;
  -webkit-animation-delay: -12579ms;
          animation-delay: -12579ms;
}

#cat .birdposition:nth-of-type(89) .bird .wing {
  -webkit-animation-delay: -2482ms;
          animation-delay: -2482ms;
}

#cat .birdposition:nth-of-type(90) {
  -webkit-transform: translate(-201px, -29px) rotateZ(9deg);
          transform: translate(-201px, -29px) rotateZ(9deg);
}

#cat .birdposition:nth-of-type(90) .bird {
  -webkit-animation-duration: 6976ms;
          animation-duration: 6976ms;
  -webkit-animation-delay: -16701ms;
          animation-delay: -16701ms;
}

#cat .birdposition:nth-of-type(90) .bird .wing {
  -webkit-animation-delay: -2215ms;
          animation-delay: -2215ms;
}

#cat .birdposition:nth-of-type(91) {
  -webkit-transform: translate(-213px, -136px) rotateZ(-12deg);
          transform: translate(-213px, -136px) rotateZ(-12deg);
}

#cat .birdposition:nth-of-type(91) .bird {
  -webkit-animation-duration: 4188ms;
          animation-duration: 4188ms;
  -webkit-animation-delay: -5441ms;
          animation-delay: -5441ms;
}

#cat .birdposition:nth-of-type(91) .bird .wing {
  -webkit-animation-delay: -9795ms;
          animation-delay: -9795ms;
}

#cat .birdposition:nth-of-type(92) {
  -webkit-transform: translate(-267px, -56px) rotateZ(3deg);
          transform: translate(-267px, -56px) rotateZ(3deg);
}

#cat .birdposition:nth-of-type(92) .bird {
  -webkit-animation-duration: 5399ms;
          animation-duration: 5399ms;
  -webkit-animation-delay: -17370ms;
          animation-delay: -17370ms;
}

#cat .birdposition:nth-of-type(92) .bird .wing {
  -webkit-animation-delay: -12534ms;
          animation-delay: -12534ms;
}

#cat .birdposition:nth-of-type(93) {
  -webkit-transform: translate(281px, -58px) rotateZ(-10deg);
          transform: translate(281px, -58px) rotateZ(-10deg);
}

#cat .birdposition:nth-of-type(93) .bird {
  -webkit-animation-duration: 6757ms;
          animation-duration: 6757ms;
  -webkit-animation-delay: -9126ms;
          animation-delay: -9126ms;
}

#cat .birdposition:nth-of-type(93) .bird .wing {
  -webkit-animation-delay: -18378ms;
          animation-delay: -18378ms;
}

#cat .birdposition:nth-of-type(94) {
  -webkit-transform: translate(-2px, 12px) rotateZ(15deg);
          transform: translate(-2px, 12px) rotateZ(15deg);
}

#cat .birdposition:nth-of-type(94) .bird {
  -webkit-animation-duration: 6720ms;
          animation-duration: 6720ms;
  -webkit-animation-delay: -13212ms;
          animation-delay: -13212ms;
}

#cat .birdposition:nth-of-type(94) .bird .wing {
  -webkit-animation-delay: -9582ms;
          animation-delay: -9582ms;
}

#cat .birdposition:nth-of-type(95) {
  -webkit-transform: translate(-282px, -115px) rotateZ(-11deg);
          transform: translate(-282px, -115px) rotateZ(-11deg);
}

#cat .birdposition:nth-of-type(95) .bird {
  -webkit-animation-duration: 5682ms;
          animation-duration: 5682ms;
  -webkit-animation-delay: -10255ms;
          animation-delay: -10255ms;
}

#cat .birdposition:nth-of-type(95) .bird .wing {
  -webkit-animation-delay: -8706ms;
          animation-delay: -8706ms;
}

#cat .birdposition:nth-of-type(96) {
  -webkit-transform: translate(-110px, -114px) rotateZ(-5deg);
          transform: translate(-110px, -114px) rotateZ(-5deg);
}

#cat .birdposition:nth-of-type(96) .bird {
  -webkit-animation-duration: 7829ms;
          animation-duration: 7829ms;
  -webkit-animation-delay: -8437ms;
          animation-delay: -8437ms;
}

#cat .birdposition:nth-of-type(96) .bird .wing {
  -webkit-animation-delay: -17269ms;
          animation-delay: -17269ms;
}

#cat .birdposition:nth-of-type(97) {
  -webkit-transform: translate(-267px, -43px) rotateZ(6deg);
          transform: translate(-267px, -43px) rotateZ(6deg);
}

#cat .birdposition:nth-of-type(97) .bird {
  -webkit-animation-duration: 5815ms;
          animation-duration: 5815ms;
  -webkit-animation-delay: -15579ms;
          animation-delay: -15579ms;
}

#cat .birdposition:nth-of-type(97) .bird .wing {
  -webkit-animation-delay: -3177ms;
          animation-delay: -3177ms;
}

#cat .birdposition:nth-of-type(98) {
  -webkit-transform: translate(-152px, -112px) rotateZ(9deg);
          transform: translate(-152px, -112px) rotateZ(9deg);
}

#cat .birdposition:nth-of-type(98) .bird {
  -webkit-animation-duration: 3622ms;
          animation-duration: 3622ms;
  -webkit-animation-delay: -12838ms;
          animation-delay: -12838ms;
}

#cat .birdposition:nth-of-type(98) .bird .wing {
  -webkit-animation-delay: -115ms;
          animation-delay: -115ms;
}

#cat .birdposition:nth-of-type(99) {
  -webkit-transform: translate(-180px, -54px) rotateZ(16deg);
          transform: translate(-180px, -54px) rotateZ(16deg);
}

#cat .birdposition:nth-of-type(99) .bird {
  -webkit-animation-duration: 5350ms;
          animation-duration: 5350ms;
  -webkit-animation-delay: -18692ms;
          animation-delay: -18692ms;
}

#cat .birdposition:nth-of-type(99) .bird .wing {
  -webkit-animation-delay: -15755ms;
          animation-delay: -15755ms;
}

#cat .birdposition:nth-of-type(100) {
  -webkit-transform: translate(155px, -14px) rotateZ(19deg);
          transform: translate(155px, -14px) rotateZ(19deg);
}

#cat .birdposition:nth-of-type(100) .bird {
  -webkit-animation-duration: 7877ms;
          animation-duration: 7877ms;
  -webkit-animation-delay: -13762ms;
          animation-delay: -13762ms;
}

#cat .birdposition:nth-of-type(100) .bird .wing {
  -webkit-animation-delay: -10556ms;
          animation-delay: -10556ms;
}

#cat .bird {
  position: absolute;
  width: 80px;
  animation: fly 8s linear infinite reverse;
}

#cat .bird .wing {
  position: absolute;
  width: 50%;
  height: 30px;
  border-top: 7px solid #fff;
  border-radius: 100%;
}

#cat .bird .wing.-left {
  -webkit-transform-origin: 100% 40%;
          transform-origin: 100% 40%;
  -webkit-animation: wingLeft 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
          animation: wingLeft 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

#cat .bird .wing.-left .wingbody {
  right: 0;
}

#cat .bird .wing.-right {
  right: 0;
  -webkit-transform-origin: 0 40%;
          transform-origin: 0 40%;
  -webkit-animation: wingRight 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
          animation: wingRight 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

#cat .bird .wingbody {
  position: absolute;
  border-radius: 100%;
}

#cat .bird .wingbody.-in {
  top: 0px;
  width: 45%;
  height: 40%;
  border-top: 4px solid #fff;
}

#cat .bird .wingbody.-out {
  top: -4px;
  width: 75%;
  height: 70%;
  border-top: 7px solid #fff;
}

@-webkit-keyframes fly {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(500px);
            transform: translateZ(500px);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
  }
  100% {
    -webkit-transform: translateZ(0px) scale(0);
            transform: translateZ(0px) scale(0);
  }
}

@keyframes fly {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(500px);
            transform: translateZ(500px);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
  }
  100% {
    -webkit-transform: translateZ(0px) scale(0);
            transform: translateZ(0px) scale(0);
  }
}

@-webkit-keyframes wingLeft {
  0% {
    -webkit-transform: translateY(-10px) rotateZ(30deg);
            transform: translateY(-10px) rotateZ(30deg);
  }
  100% {
    -webkit-transform: translateY(0) rotateZ(-20deg);
            transform: translateY(0) rotateZ(-20deg);
  }
}

@keyframes wingLeft {
  0% {
    -webkit-transform: translateY(-10px) rotateZ(30deg);
            transform: translateY(-10px) rotateZ(30deg);
  }
  100% {
    -webkit-transform: translateY(0) rotateZ(-20deg);
            transform: translateY(0) rotateZ(-20deg);
  }
}

@-webkit-keyframes wingRight {
  0% {
    -webkit-transform: translateY(-10px) rotateZ(-30deg);
            transform: translateY(-10px) rotateZ(-30deg);
  }
  100% {
    -webkit-transform: translateY(0) rotateZ(20deg);
            transform: translateY(0) rotateZ(20deg);
  }
}

@keyframes wingRight {
  0% {
    -webkit-transform: translateY(-10px) rotateZ(-30deg);
            transform: translateY(-10px) rotateZ(-30deg);
  }
  100% {
    -webkit-transform: translateY(0) rotateZ(20deg);
            transform: translateY(0) rotateZ(20deg);
  }
}
/*# sourceMappingURL=header.css.map */